<div id="title"><center>Corona Tracker</center></div>
<div class="row m-2 ">
  <div class="col-3">
    <div class="card text-center border-warning" style="width: 18rem;">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title text-warning">Confirmed</h5>
        <p class="card-text  text-warning">{{this.numberOfConfirmedCases}}</p>
      </div>
    </div></div>
    <div class="col-3">
    <div class="card text-center border-success" style="width: 18rem;">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title text-success">recovered</h5>
        <p class="card-text  text-success">{{this.numberOfRecoveredCases}}</p>
      </div>
    </div></div>
    <div class="col-3">
    <div class="card text-center border-danger" style="width: 18rem;">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title text-danger">deaths</h5>
        <p class="card-text  text-danger">{{this.numberOfDeathCases}}</p>
      </div>
    </div></div>
    </div>
    <div class="chart-container" style="position: relative; height:40vh; width:100vw">
    <canvas id="myChart"></canvas></div>
  


