#title{
    font-family: 'Dancing Script', cursive;
    font-size:40px;
    
    
}
/* .container{
    padding: 50px;
    align-self: start;
    margin: 50px;
    border-color: cadetblue;
    background-color: cadetblue;
} */
/* @media screen and (max-width: 600px) {
  .col-4 {
    
    width: 100%;
    
    background-color: crimson;
  }
} */